.about {
	text-align: center;
	display: flex;

	&--name {
		display: inline-block;
		border-top: 1px solid $dark-accent;
		border-bottom: 1px solid $dark-accent;	
		padding: 10px;	
	}

	h2 {
		margin-top: 1.5em;
		margin-bottom: 0;
	}

	h4 {
		color: $dark-shades;
		margin-top: 0;
	}

	p {
		// margin-top: 2.5em;
		margin-bottom: 1.5em;
	}

	.img--round {
		width: 100px;
		border-radius: 100%;
	}

}

blockquote {
	width: 90%;
	margin-left: auto;
	margin-right: auto;

	&::before {
		color: $dark-accent;
		content: open-quote;
		font-size: 4em;
		line-height: 0;
		margin-right: 2.5em; // increase in for bigger screen
		vertical-align: -0.5em;
	}

	p {
		display: inline-block;
		line-height: 1.5em;
		width: 60%;
		margin: auto;
	}

	&::after {
		color: $dark-accent;
		content: close-quote;
		font-size: 4em;
		line-height: 0.5em;
		margin-left: 2.5em;
	}
}