.listings {
	background-image: url('../../assets/images/jon-flobrant-2845.jpg');
	background-size: 100% 100%;
	background-color: $light-accent;
}
.carouselbox {
	position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
	overflow: hidden;
	background: rgba($color: $primary-color, $alpha: .7);
	border-radius: 25px;

	& button {
		border: none;
		display: none;
		background: $dark-accent;
	}
}
.slides {
	margin: 0;
	padding: 0;
	
	& li {
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;
		text-align: center;
	}
}

.active {
		height: 250px;

		& li {
			position: absolute;
			top: 250px;

			opacity: 0;
			transform: scale(0);
			transition: 1s;

			&.current {
				top: 30px;

				opacity: 1;
				transform: scale(1);
				transition: 1s;
			}
		}

		& .buttons--carousel {
			padding: 5px 0;
      text-align: center;
      z-index: 10;
			position: absolute;
			top: 190px;
			left: 30%;
		}
	
		button {
			display: inline-block;
		}
}

.offscreen {
	position: absolute; 
	left: -2000px;
}
