footer nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	
	ul {
		width: 50%;
		text-transform: uppercase;
		line-height: initial;
	}

	.logo {
		display: inline-block;
		order: 1;
		margin: auto;
		transform: translateY(60%);
	}

	.footer__nav {
		order: 2;

	}
}

