.header {
	background-image: url("../../assets/images/jason-blackeye-209586.jpg");
	background-size: 100% 100%;
	background-color: $primary-color;
	min-height: 50vh;
	
	nav {
		background: $dark-accent-rgba;
		color: $light-shades;
	
		a {
			color: $light-shades;
	
			&:hover {
				color: $light-accent;
			}
		}	
	
		.container {
			padding: 4% 0;
		}
	
	}
}

.overlay {
	background-color: $dark-shades-rgba;	
}

.nav-accent {
	display: none;
}

.head {
	color: $light-shades;
	text-align: center;
	padding-bottom: 5%;

	p {
		text-shadow: 1px 1px $dark-accent;
	}
}