.farmSize {
	background: $dark-accent;

	h2 {
		color: $primary-color;
	}
	h4 {
		color: $primary-color;
	}
	h5 {
		color: $light-accent;
	}
	span {
		color: $light-accent;
		font-size: .75rem;
	}
	p {
		color: $light-shades;
	}
}