body {
	font-family: $font-family;
	font-weight: normal;
	max-width: 1220px;
	margin: auto;
}

h1 {
	font-size: 2.5rem;
}

ul,
ol {
	list-style: none;
	margin: 0;
}

a {
	color: $dark-shades;
	text-decoration: none;

	&:hover {
		color: $dark-accent;
	}
}

img {
	max-width: 90%;
}

.logo {
	font-family: $logo-font-family;
}

.container {
	width: 90%;
	margin: auto;	
	padding-top: 5%;
	padding-bottom: 5%;
}

button {
	background: $dark-accent-rgba;
	color: $light-shades;
	border: 0.5px dashed $light-shades;
	padding: 10px 15px;
	border-radius: 15px;
}