// $mobile-med: "screen and (min-width: 576px)"; 
// $tablet: "screen and (min-width: 768px)" ;
// $desktop: "screen and (min-width: 992px)" ;
// $xl-display: "screen and (min-width: 1200px)";

.container {
	max-width: 960px;
}