$font-family: 'Roboto', sans-serif;
$logo-font-family: 'Calligraffitti', cursive;;

$primary-color:#c2faf1; // Main brand color - This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
$primary-rgba: rgba(194, 250, 241, 0.15);

$light-accent:#DFEFF0; // Light accent - Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
$dark-accent: #295e6a; // Dark accent - Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
$dark-accent-rgba: rgba(41, 94, 106, 0.5);


$light-shades: #F6F6F6; // Light shades - Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
$dark-shades: #53687F; // Dark shades - Use as the text color for dark-on-light designs, or as the background for inverted designs.
$dark-shades-rgba: rgba(83, 104, 127, .3);

// Color Semantics
$ui-primary: #c2e9e8; // 	Jagged Ice
$ui-info: #53687f; // Blue Bayoux
$ui-success: #6fc07e; // De York
$ui-warning: #edb046; // Tulip Tree
$ui-danger: #f44336; // Pomegranate