body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  max-width: 1220px;
  margin: auto; }

h1 {
  font-size: 2.5rem; }

ul,
ol {
  list-style: none;
  margin: 0; }

a {
  color: #53687F;
  text-decoration: none; }
  a:hover {
    color: #295e6a; }

img {
  max-width: 90%; }

.logo {
  font-family: "Calligraffitti", cursive; }

.container {
  width: 90%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 5%; }

button {
  background: rgba(41, 94, 106, 0.5);
  color: #F6F6F6;
  border: 0.5px dashed #F6F6F6;
  padding: 10px 15px;
  border-radius: 15px; }

.farmSize {
  background: #295e6a; }
  .farmSize h2 {
    color: #c2faf1; }
  .farmSize h4 {
    color: #c2faf1; }
  .farmSize h5 {
    color: #DFEFF0; }
  .farmSize span {
    color: #DFEFF0;
    font-size: .75rem; }
  .farmSize p {
    color: #F6F6F6; }

.logo {
  text-align: center;
  font-size: 1.5rem; }

.about, footer {
  background: #c2faf1; }

.header {
  background-image: url("../../assets/images/jason-blackeye-209586.jpg");
  background-size: 100% 100%;
  background-color: #c2faf1;
  min-height: 50vh; }
  .header nav {
    background: rgba(41, 94, 106, 0.5);
    color: #F6F6F6; }
    .header nav a {
      color: #F6F6F6; }
      .header nav a:hover {
        color: #DFEFF0; }
    .header nav .container {
      padding: 4% 0; }

.overlay {
  background-color: rgba(83, 104, 127, 0.3); }

.nav-accent {
  display: none; }

.head {
  color: #F6F6F6;
  text-align: center;
  padding-bottom: 5%; }
  .head p {
    text-shadow: 1px 1px #295e6a; }

footer nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }
  footer nav ul {
    width: 50%;
    text-transform: uppercase;
    line-height: initial; }
  footer nav .logo {
    display: inline-block;
    order: 1;
    margin: auto;
    transform: translateY(60%); }
  footer nav .footer__nav {
    order: 2; }

.img--inset {
  outline: 5px solid #DFEFF0;
  outline-offset: -15px; }

.about {
  text-align: center;
  display: flex; }
  .about--name {
    display: inline-block;
    border-top: 1px solid #295e6a;
    border-bottom: 1px solid #295e6a;
    padding: 10px; }
  .about h2 {
    margin-top: 1.5em;
    margin-bottom: 0; }
  .about h4 {
    color: #53687F;
    margin-top: 0; }
  .about p {
    margin-bottom: 1.5em; }
  .about .img--round {
    width: 100px;
    border-radius: 100%; }

blockquote {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  blockquote::before {
    color: #295e6a;
    content: open-quote;
    font-size: 4em;
    line-height: 0;
    margin-right: 2.5em;
    vertical-align: -0.5em; }
  blockquote p {
    display: inline-block;
    line-height: 1.5em;
    width: 60%;
    margin: auto; }
  blockquote::after {
    color: #295e6a;
    content: close-quote;
    font-size: 4em;
    line-height: 0.5em;
    margin-left: 2.5em; }

.listings {
  background-image: url("../../assets/images/jon-flobrant-2845.jpg");
  background-size: 100% 100%;
  background-color: #DFEFF0; }

.carouselbox {
  position: relative;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 10px #ccc;
  overflow: hidden;
  background: rgba(194, 250, 241, 0.7);
  border-radius: 25px; }
  .carouselbox button {
    border: none;
    display: none;
    background: #295e6a; }

.slides {
  margin: 0;
  padding: 0; }
  .slides li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center; }

.active {
  height: 250px; }
  .active li {
    position: absolute;
    top: 250px;
    opacity: 0;
    transform: scale(0);
    transition: 1s; }
    .active li.current {
      top: 30px;
      opacity: 1;
      transform: scale(1);
      transition: 1s; }
  .active .buttons--carousel {
    padding: 5px 0;
    text-align: center;
    z-index: 10;
    position: absolute;
    top: 190px;
    left: 30%; }
  .active button {
    display: inline-block; }

.offscreen {
  position: absolute;
  left: -2000px; }

.container {
  max-width: 960px; }

/*# sourceMappingURL=main.css.map */
